- placeholder_text ||= feedback.followed_up? ? 'Follow up on this feedback...' : 'Contribute to the discussion...'
.comment-form
  %table
    %tr
      %td
        .avatar
          = image_tag current_user.avatar.url(:large)
      %td
        = form_for Comment.new, as: :comment, url: comments_path, remote: true do |f|
          = f.text_area :content, placeholder: placeholder_text
          = f.hidden_field :feedback_id, value: feedback.id
          .submit-tag Submit