%h1 Welcome to prophet!

%p= "Hello and welcome to the Prophet feedback platform. You have been invited to join #{@user.organization.name}."

%p= "Follow this link to log in and set your password:"

%p= "Enjoy!"