- employees ||= current_user.employees
#manager-team
  %ul
    - employees.each do |employee|
      %li.employee{ id: employee.id }
        .avatar
          = image_tag employee.avatar.url(:large)
        .name
          = employee.full_name
        .title
          = employee.title