- employees ||= current_user.employees
#manager-team
  %ul
    - employees.each do |employee|
      %li.employee{ id: employee.id }
        .avatar
          = image_tag employee.avatar.url(:large)
        .info
          .name= employee.full_name
          .title= employee.title
          .user-tag= employee.user_tag