%div
  %h4
    This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. 

  %h4
    This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. 

  %h4
    This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. 

  %h4
    This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. 

  %h4
    This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. 

  %h4
    This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. 
  
  %h4
    This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. 

  %h4
    This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. 

  %h4
    This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. 

  %h4
    This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. 

  %h4
    This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. 

  %h4
    This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. 

  %h4
    This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. 

  %h4
    This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. 

  %h4
    This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. 

  %h4
    This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. 

  %h4
    This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. 

  %h4
    This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. This is our help page. 

  = render partial: 'legal_footer'