= render partial: 'feedbacks/form'


.my-feedbacks
  - @my_feedbacks.each do |f|
    = render partial: 'feedbacks/feedback', locals: { feedback: f }
.all-feedbacks
  - @all_feedbacks.each do |f|
    = render partial: 'feedbacks/feedback', locals: { feedback: f }