%div
  %h4
    These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. 

  %h4
    These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. 

  %h4
    These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. 

  %h4
    These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. 

  %h4
    These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. 

  %h4
    These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. 
  
  %h4
    These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. 

  %h4
    These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. 

  %h4
    These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. 

  %h4
    These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. 

  %h4
    These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. 

  %h4
    These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. 

  %h4
    These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. 

  %h4
    These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. 

  %h4
    These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. 

  %h4
    These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. 

  %h4
    These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. 

  %h4
    These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. These are terms and conditions. 

  = render partial: 'legal_footer'