.home-feedbacks
  - if home_feedbacks && home_feedbacks.count.count < 1
    .no-feedback No feedback results found.
  - else
    - home_feedbacks.each do |feedback|
      = render partial: 'feedbacks/feedback', locals: { feedback: feedback }