.home-feedbacks
  - if feedbacks && feedbacks.count.count < 1
    .no-feedback No feedback results found.
  - else
    - feedbacks.each do |feedback|
      = render partial: 'feedbacks/feedback', locals: { feedback: feedback }