= render partial: 'feedbacks/home_feedbacks', locals: { feedbacks: home_feedbacks }

-#= render partial: 'feedbacks/my_feedbacks', locals: { my_feedbacks: my_feedbacks, home_feedbacks: home_feedbacks }
