= render partial: 'feedbacks/my_feedbacks', locals: { my_feedbacks: my_feedbacks, team_feedbacks: team_feedbacks }

= render partial: 'feedbacks/team_feedbacks', locals: { my_feedbacks: my_feedbacks, team_feedbacks: team_feedbacks }