-#:javascript
-#  $(document).ready(function(){
-#    $('.agree-checkbox').labelauty({label: false});
-#  })

- if feedbacks.count.count < 1
  = render partial: 'feedbacks/empty'
- else
  - feedbacks.each do |feedback|
    = render partial: 'feedbacks/feedback', locals: { feedback: feedback }

  - if feedbacks.count.count > Feedback.per_page
    #infinite-scrolling= will_paginate feedbacks