#share-panel
  .header
    .text Share this piece of feedback with relevant peers
    .close X
  .top
    .banner
      .avatar
        %img
      .data
        .address
        .timestamp
    .content

  .additional-peers
    = text_area_tag :additional_peers, '', placeholder: 'Tag additional peers here...'

  .actions
    .cancel{ tabindex: 0 } Cancel
    .share{ tabindex: 0 } Share