.modal#delete-comment
  .header
    .text Delete
    .close x
  %div
    Are you sure you want to delete your comment?
  .actions
    .submit-tag{ tabindex: 0 } Delete
    .cancel{ tabindex: 0 } Cancel