.modal#share-panel
  .header
    .text Share
    .close x
  .top
    .banner
      .avatar
        %img
      .data
        .address
        .timestamp
    .content

  .additional-peers
    = text_area_tag :additional_peers, '', placeholder: 'Tag additional peers here (@JohnDoe, @MarySue...)'

  .actions
    .share{ tabindex: 0 } Share
    .cancel{ tabindex: 0 } Cancel