body {
  margin: 0;
  font-family: arial, sans-serif;
  background: rgb(229, 227, 227);
}

a:visited { color: inherit; }

#banner {
  background: rgb(241, 129, 121);
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 999;
  border-bottom: 1px solid black;
  .logo {
    background: url('logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 80px;
    position: absolute;
    left: 20px;
  }
  #session {
    float: right;
    margin: 8px 20px 0 0;
    .avatar {
      width: 65px;
      height: 65px;
      &:hover {
        cursor: pointer;
      }
      img {
        width: 65px;
        height: 65px;
      }
    }
    .options {
      list-style-type: none;
      position: absolute;
      width: 200px;
      right: 0px;
      top: 60px;
      font-size: 20px;
      display: none;
      li {
        border: 1px solid black;
        width: 100%;
        a {
          text-decoration: none;
          padding: 10px 10px;
          display: block;
          background: #ccc;
          width: 100%;
          &:hover {
            cursor: pointer;
            background: #999;
          }
        }
      }
    }
  }
  .sort {
    width: 250px;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 20px;
    & > div {
      border: 1px solid white;
      display: inline-block;
      padding: 5px 40px;
      color: white;
    }
    &:hover {
      cursor: pointer;
    }
    .selected {
      background: white;
      color: rgb(241, 129, 121);
    }
    .team {
      margin-left: -6px;
    }
  }
}

.full {
  margin: 100px auto 0 auto;
  width: 1180px;
}

.editable .ph {
  color: gray;
  font-style: italic;
}

.resonant {
  color: rgb(241, 129, 121);
}
.mixed {
  color: black;
}
.isolated {
  color: #ccc;
}