.no-feedback {
  width: 370px;
  margin: 0 auto;
}

.submit-tag {
  opacity: .7;
  background: #8BC34A;
  color: white;
  padding: 5px 40px;
  border-radius: 8px;
  font-size: 20px;
  width: 50px;
  float: right;
  &.active {
    opacity: 1;
    &:hover {
      cursor: pointer;
      background: #33691E;
    }
  }
}

.avatar {
  border: 1px solid #aaa;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  overflow: hidden;
  img {
    width: 45px;
    height: 45px;
  }
}

#feedbacks {
  background: transparent;
}

.feedback {
  border: 1px solid #ccc;
  width: 630px;
  margin: 0 auto;
  margin-bottom: 20px;
  background: rgb(251, 249, 249);
  & > * {
  padding: 10px 15px;
  }
  &.fresh .top {
    background: rgb(255,253,162);
  }
  .follow-up {
    border-bottom: 1px solid #ccc;
    background: #eee;
    .close {
      float: right;
      &:hover {
        cursor: pointer;
      }
    }
    h1 {
      font-size: 18px;
    }
    h2 {
      font-size: 14px;
      color: #aaa;
      width: auto;
      border: none;
    }
  }
  .flavor {
    vertical-align: 30px;
  }
  .votes {
    .vote {
      height: 55px;
      width: 50px;
      &:hover {
        cursor: pointer;
      }
      .number-container {
        width: 100%;
        height: 52px;
      }
      .number {
        color: white;
        font-family: 'Avenir-Roman';
        border-radius: 50%;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 47px;
        border-width: 3px;
        margin-top: 8px;
        margin-left: 7px;
        display: block;
        transition: 0.2s;
      }
      .text {
        font-size: 12px;
        text-align: center;
        margin-left: 12px;
      }
      &.agree {
        .number { background: #33691E; }
        .text { color: #33691E; }
      }
      &.peers {
        margin-left: -5px;
        .number { background: #ccc; }
        .text { color: #aaa; }
      }
    }
  }

  .top {
    border-bottom: 2px solid #aaa;
    transition: 0.8s;
  }
  .banner {
    height: 40px;
    padding-bottom: 0;
    & > * {
      float: left;
    }
    .data {
      font-family: 'Avenir-Heavy';
      margin-left: 10px;
      font-size: 20px;
      .timestamp {
        font-family: 'Avenir-Roman';
        font-size: 13px;
        color: #aaa;
      }
    }
    .score {
      float: right;
      & * {
        display: inline-block;
      }
    }
  }
  .content {
    padding-top: 0;
    font-size: 20px;
    clear: both;
    margin: 15px 0;
  }
  .tags {
    .tag {
      display: inline-block;
      margin-right: 5px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  table.actions {
    font-family: 'Avenir-Heavy';
    border-top: 1px solid #999;
    width: 600px;
    margin: 0 auto;
    padding: 10px;
    color: #777;
    td {
      width: 25%;
      text-align: center;
      &:hover {
        cursor: pointer;
      }
      & > * {
        display: inline-block;
      }
      .icon {
        height: 25px;
        width: 25px;
        display: inline-block;
        vertical-align: bottom;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      &.agree {
        &.selected {
          color: #33691E;
          .icon { background: #33691E; }
        }
        .icon {
          border: 1px solid #aaa;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          overflow: hidden;
          background: #ccc;
        }
      }
      &.leave-comment .icon {
        background-image: url('comment_icon.png');
      }
      &.share .icon {
        background-image: url('share_icon.png');
      }
      &.merge .icon {
        background-image: url('merge_icon.png');
      }
    }
    .agree, .peers {
      background: transparent;
      border: none;
    }
  }

  td:first-of-type{
    vertical-align: top;
  }
}

.feedback-form {
  background: white !important;
  border: 1px solid #ccc;
  width: 630px;
  margin-bottom: 20px;
  &.active {
    box-shadow: 0 0 10px #719ECE;
  }
  textarea {
    resize: none;
    font-family: 'Avenir-Book';
    border: none;
    font-size: 18px;
    font-weight: 100;
    outline: none;

  }
  .top {
    border-bottom: 1px solid #ccc;
    padding: 10px 15px;
    min-height: 50px;
    width: 100%;
    td {
      vertical-align: top;
    }
    .avatar {
      width: 45px;
      height: 45px;
      img {
        width: 45px;
        height: 45px;
      }
    }
    .content {
      margin-top: 5px;
      textarea {
        width: 530px;
        max-width: 530px;
        height: 40px;
        left: 60px;
      }
    }
  }
  .bottom {
    padding: 10px 15px;
    textarea {
      width: 450px;
      max-width: 450px;
      height: 30px;
    }
    .submit {
      display: inline-block;
    }
  }
}

.ui-menu-item {
  background: white;
  border: 1px solid #ccc;
  &.ui-state-focus, &.ui-state-focus:hover {
    border: 1px solid #aaa;
    background: #ddd;
    .user-tag {
      font-weight: bold;
    }
  }
  > * {
    display: inline-block;
  }
  img {
    width: 55px;
    height: 55px;
  }
  .info {
    margin-left: 10px;
    .title {
      color: #aaa;
      font-size: 12px;
    }
  }
}