.no-feedback {
  width: 370px;
  margin: 0 auto;
}

.feedback {
  border: 1px solid black;
  width: 630px;
  margin: 0 auto;
  margin-bottom: 20px;
  & > * {
  padding: 10px 15px;
  }
  .avatar {
    border: 1px solid black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: #aaa;
  }
  .active.votes:hover {
    cursor: pointer;
  }
  .votes > * {
    border: 1px solid black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: white;
    &.selected {
      border-width: 3px;
      border-color: gold;
    }
  }
  .agree {
    background: rgb(241, 129, 121)
  }
  .dismiss {
    background: #aaa;
  }

  .banner {
    height: 40px;
    padding-bottom: 0;
    & > * {
      float: left;
    }
    .avatar {
      width: 30px;
      height: 30px;
    }
    .data {
      margin-left: 10px;
      .timestamp {
        font-size: 10px;
      }
    }
    .score {
      float: right;
      & * {
        display: inline-block;
      }
    }
  }
  .content {
    padding-top: 0;
    font-size: 20px;
  }
  table.actions {
    border-top: 1px solid #999;
    width: 600px;
    margin: 0 auto;
    padding: 10px;
    td {
      width: 33%;
      text-align: center;
    }
  }

  td:first-of-type{
    vertical-align: top;
  }
  .commenting {
    padding: 0;
    border-top: 1px solid black;
    background: #eee;
    & > * {
      padding: 10px 15px;
    }
    .comment {
      margin-bottom: 10px;
      .data * {
        display: inline-block;
        font-size: 14px;
        color: #555;
      }
      .content {
        font-size: 14px;
        .author {
          color: blue;
        }
      }
      .score {
        margin-left: 10px;
        .votes > * {
          width: 20px;
          height: 20px;
          line-height: 20px;
          color: white;
        }
      }
    }
  }

  .comment-form {
    & > * {
      display: inline-block;
    }
    textarea {
      width: 560px;
      font-size: 16px;
    }
    input {
      float: right;
    }
  }
}

.feedback-form {
  border: 1px solid black;
  width: 630px;
  margin: 100px auto 20px auto;
  .avatar {
    border: 1px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #aaa;
    display: inline-block;
  }
  .top {
    border-bottom: 1px solid black;
    padding: 10px 15px;
    .avatar {
      vertical-align: top;
    }
    textarea {
      width: 540px;
      height: 75px;
      margin-left: 10px;
    }
  }
  .bottom {
    padding: 10px 15px;
    .entry {
      margin-bottom: 10px;
      input {
        width: 540px;
        margin-left: 4px;
      }
    }
    .peers {
      width: 500px;
      display: inline-block;
      font-size: 11px;
      .peer {
        border: 1px solid black;
        padding: 3px 5px;
        border-radius: 8px;
        display: inline-block;
        .avatar {
          width: 20px;
          height: 20px;
          vertical-align: middle;
        }
        .remove {
          font-weight: bold;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .submit {
      display: inline-block;
      input {
        width: 90px;
      }
    }
  }
}