@font-face {
  font-family: 'Avenir-Book';
  src: asset_url('AvenirLTStd-Book.otf');
}
@font-face {
  font-family: 'Avenir-Heavy';
  src: asset_url('AvenirLTStd-Heavy.otf');
}
@font-face {
  font-family: 'Avenir-Roman';
  src: asset_url('AvenirLTStd-Roman.otf');
}
@font-face {
  font-family: 'Avenir-Medium';
  src: asset_url('AvenirLTStd-Medium.otf');
}