h2 {
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  font-size: 18px;
  width: 230px;
  margin: 10px auto;
}

.number-bubble {
  font-family: 'Avenir-Roman';
  width: 40px;
  height: 40px;
  line-height: 45px;
  color: white;
  border-radius: 50%;
  margin: 5px auto 0 auto;
  border: 2px hidden;
  &:hover {
    cursor: pointer;
  }
  &.selected {
    border: 2px solid gold;
  }
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  opacity: 0.25;
}

.column > * {
  background: rgb(241, 241, 241);
}

#left {
  float: left;
  width: 250px;
  & > * {
  border: 1px solid #ccc;
}

  .feedback-summary {
    font-family: 'Avenir-Heavy';
    margin-bottom: 20px;
    padding: 10px;
    h2 {
      font-family: 'Avenir-Medium';
    }
    ul {
      padding: 0;
    }
    li {
      display: inline-block;
      text-align: center;
      width: 30%;
      &:nth-child(1) .number-bubble{ background: rgb(241, 129, 121); }
      &:nth-child(2) .number-bubble{ background: black; }
      &:nth-child(3) .number-bubble{ background: #ccc; }
    }
  }
  .profile {
    .banner {
      background: #ccc;
      height: 60px;
    }
    table.data {
      margin-top: -40px;
      margin-bottom: 10px;
      tr {
        height: 80px;
        vertical-align: bottom;
      }
      .avatar {
        width: 55px;
        height: 55px;
        img {
          width: 55px;
          height: 55px;
        }
      }
      .name {
        font-family: 'Avenir-Heavy';
        font-size: 18px;
      }
      .title {
        font-family: 'Avenir-Medium';
        color: #aaa;
        font-size: 13px;
      }
    }
    .status {
      padding: 10px;
      word-wrap: break-word;
    }
  }
}

#middle {
  float: left;
  margin: 0 20px;
}

#right {
  float:left;
  width: 250px;
  .attributes {
    border: 1px solid #ccc;
    padding: 10px;
    ul {
      padding: 0;
    }
    li {
      display: inline-block;
      text-align: center;
      width: 30%;
      &:nth-child(1) .number-bubble{ background: rgb(241, 129, 121); }
      &:nth-child(2) .number-bubble{ background: black; }
      &:nth-child(3) .number-bubble{ background: #ccc; }
    }
  }
}

#home_left {
  left: 125px;
  position: absolute;
  width: 500px;
  font-size: 30px;
  font-weight: bold;
  font-family: Avenir;
  padding-top: 50px;
}

#home_right {
  float: right;
  width: 500px;
  margin-right: 70px;
  font-size: 40px;
  font-weight: 500;
  font-family: Avenir;
}

#blurb {
  font-size: 18px;
  width: inherit;
}

#name {
  width: inherit;
}

#first_name {
  width: 230px;
  font-family: 'Avenir';
  height: 30px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 100;
}

#last_name {
  width: 230px;
  font-family: 'Avenir';
  height: 30px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 100;
}

#home_field {
  width: inherit;
  margin-top: -8px;
}

#email {
  width: 485px;
  font-family: 'Avenir';
  height: 30px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 100;
}

#email_confirmation {
  width: 485px;
  font-family: 'Avenir';
  height: 30px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 100;
}

#company {
  width: 485px;
  font-family: 'Avenir';
  height: 30px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 100;
}

.legal {
  font-size:10px;
  width:350px;
  margin-top: 10px;
}

#sign_up {
  float: left;
  margin-top: 15px;
}