#manager-team {
  display: none;
  border-top: 1px solid #ccc;
  ul {
    padding: 0;
    margin: 0;
  }
  .employee {
    padding: 10px 5px 0 10px;
    &:hover {
      cursor: pointer;
      background: #ccc;
    }
    &.selected {
      background: #8BC34A;
      .info .title {
        color: white;
      }
    }
    .avatar {
      display: inline-block;
    }
    .info {
      display: inline-block;
      vertical-align: top;
      .name {
        padding-top: 5px;
        font-family: Avenir-Heavy;
        font-size: 18px;
      }
      .title {
        color: #aaa;
        font-size: 13px;
      }
      .user-tag {
        font-size: 12px;
      }
    }
  }
}

#manager-select-prompt {
  width: 280px;
  margin: 0 auto;
}

#viewing-as {
  color: #888;
  padding: 5px;
  display: inline-block;
  background: none;
  float: right;
  & > * {
    display: inline-block;
  }
  .text {
    font-size: 18px;
    font-family: Avenir;
    font-weight: 600;
    text-transform: uppercase;
  }
  .delete {
    font-size: 20px;
    margin-left: 5px;
    color: black;
    &:hover {
      cursor: pointer;
      color: #777;
    }
  }
}