#manager-team {
  display: none;
}

#viewing-as {
  color: #888;
  padding: 5px;
  display: inline-block;
  background: none;
  & > * {
    display: inline-block;
  }
  .text {
    font-size: 18px;
    font-family: 'Avenir-Roman';
  }
  .delete {
    font-size: 20px;
    margin-left: 5px;
    color: black;
    &:hover {
      cursor: pointer;
      color: #777;
    }
  }
}