.drag-backdrop {
  opacity: 0.3;
}

.drop-target {
  border: 5px dashed black;
}

.hover-target {
  background: green;
}

#merge-confirmation {
  height: 440px;
  display: block;
  h2 {
    margin: 0;
    padding: 10px 15px;
    width: auto;
    font-size: 12px;
    color: #aaa;
    background: #eee;
  }
  .into {
    position: absolute;
    top: 245px;
    background: #fbf9f9;
    left: 225px;
    padding: 5px;
    z-index: 10;
  }
  .feedback {
    width: auto;
    border: none;
    border-bottom: 1px solid #aaa;
    margin-bottom: 0;
    &.merge-target {
      padding-top: 10px;
    }
    .data {
      width: 85%;
      .stats {
        font-family: 'avenir';
        float: right;
        color: #aaa;
        font-size: 12px;
      }
    }
  }
}