#session-options {
  font-size: 16px;
  display: none;
  background: white;
  padding: 0;
  hr {
    border: none;
    height: 1px;
    background: #ccc;
  }
  .name {
    padding-top: 10px;
    font-size: 20px;
    font-family: 'Avenir-Roman';
  }
  li {
    width: 100%;
    a {
      text-decoration: none;
      display: block;
      width: 100%;
      padding: 15px 2px;
      color: #aaa;
      &:hover {
        cursor: pointer;
        background: rgb(0, 156, 70);
        color: black;
      }
    }
  }
}

#error-messages {
  max-height: 100px;
  color: red;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  display: none;
}