.modal#share-panel {
  .top {
    padding: 15px;
  }
  .banner {
    height: 40px;
    padding-bottom: 0;
    & > * {
      float: left;
    }
    .data {
      font-family: 'Avenir-Heavy';
      margin-left: 10px;
      font-size: 20px;
      .timestamp {
        font-family: 'Avenir-Roman';
        font-size: 13px;
        color: #aaa;
      }
    }
    .score {
      float: right;
      & * {
        display: inline-block;
      }
    }
  }
  .content {
    padding-top: 0;
    font-size: 20px;
    clear: both;
    margin: 20px 0 0 2px;
  }

  .additional-peers {
    width: 100%;
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    textarea {
      width: 90%;
      resize: none;
      font-family: 'Avenir-Book';
      border: none;
      font-size: 18px;
      outline: none;
      margin: 10px 0 0 5px;
      padding-left: 13px;
    }
  }
}

.modal#share-list {
  height: 500px;
  top: 10%;
  ul {
    height: 400px;
    overflow-y: scroll;
  }
  li {
    padding: 5px 0;
    margin-bottom: 12px;
    border-bottom: 2px solid #ccc;
    & > * {
      display: inline-block;
    }
    .data {
      vertical-align: top;
      margin-left: 10px;
      .name {
        font-family: 'Avenir-Heavy';
        font-size: 18px;
      }
      .title {
        color: #aaa;
        font-size: 14px;
      }
    }
  }
}

.peers-popover {
  color: white;
  padding: 0 10px;
}