.users.edit {

  h2 {
    font-size: 12px;
    width: auto;
    border: none;
    color: #aaa;
  }
  .submit-tag {
    background: #8BC34A;
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    width: 105px;
    float: none;
    margin: 0 auto;
    text-align: center;
    line-height: 20px;
    height: 20px;
    border-radius: 5px;
  }

  .column#left {
    #settings-menu {
      padding: 0;
      li {
        padding: 10px;
        &.selected {
          background: #8BC34A;
        }
        &:hover {
          background: #8BC34A;
          cursor: pointer;
        }
        .chevron {
          background-image: url("chevron-arrow.png");
          background-repeat: no-repeat;
          background-size: contain;
          height: 20px;
          width: 20px;
          float: right;
        }
      }
    }
    .copyright {
      font-size: 12px;
      color: #aaa;
      padding: 5px;
      ul  {
        display: inline;
        padding: 0;
      }
      li {
        display: inline-block;
        text-decoration: underline;
        margin-left: 5px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .column#middle {
    width: 600px;
    background: #eee;
    border: 1px solid #ccc;
    padding: 15px 0;
    h2 {
      border-bottom: 1px solid #ccc;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    & > * > * {
      background: #eee;
      padding: 0 15px;
      margin: 0;
    }
    .label {
      width: 150px;
      display: inline-block;
    }
    li {
      margin-bottom: 20px;
    }
  }

  .edit-user {
    li {
    }
    #avatar-handling {
      height: 350px;
      .previewing {
        float: left;
        #preview-container {
          border-radius: 50%;
          width: 100px;
          height: 100px;
          overflow: hidden;
          border: 1px solid #ccc;
          img#current {
            width: 102px;
            height: 102px;
          }
          #preview {
            display: none;
          }
        }
      }
      .cropping {
        float: right;
        width: 400px;
        #cropbox {
          top: -80px;
          left: -600px;
          img {
            max-height: 350px;
            max-width: 400px;
          }
        }
        .jcrop-holder {
          display: inline-block;
        }
      }
    }
  }

  #notifications {
    display: none;
  }

}