.users.edit {

  h2 {
    font-size: 12px;
    width: auto;
    border: none;
    color: #aaa;
  }
  .submit-tag {
    background: #8BC34A;
    color: white;
    padding: 10px 13px 0px 31px;
    font-size: 20px;
    width: 144px;
    float: none;
    margin-left: 153px;
    text-align: left;
    line-height: 26px;
    height: 33px;
    border-radius: 8px;
  }

  .column#left {
    #settings-menu {
      padding: 0;
      margin-top: 0px;
      li {
        padding: 10px;
        &.selected {
          background: #8BC34A;
        }
        &:hover {
          background: #8BC34A;
          cursor: pointer;
        }
        .chevron {
          background-image: url("chevron-arrow.png");
          background-repeat: no-repeat;
          background-size: contain;
          height: 20px;
          width: 20px;
          float: right;
        }
      }
    }
    .copyright {
      font-size: 13px;
      color: #aaa;
      padding: 5px;
      ul  {
        display: inline;
        padding: 0;
      }
      li {
        display: inline-block;
        text-decoration: underline;
        margin-left: 0px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .column#middle {
    width: 600px;
    background: #eee;
    border: 1px solid #ccc;
    padding: 15px 0;
    h2 {
      border-bottom: 1px solid #ccc;
      padding-top: 0px;
      padding-bottom: 10px;
      font-size: 14px;
    }
    & > * > * {
      background: #eee;
      padding: 0 15px;
      margin: 0;
    }
    .label {
      width: 150px;
      display: inline-block;
      font-weight: bolder;
    }
    li {
      margin-bottom: 20px;
    }
  }

  .edit-user {
    li {
    }
    #avatar-handling {
      overflow: auto;
      .previewing {
        float: left;
        #preview-container {
          border-radius: 50%;
          width: 100px;
          height: 100px;
          overflow: hidden;
          border: 1px solid #ccc;
          img#current {
            width: 102px;
            height: 102px;
          }
          #preview {
            display: none;
          }
        }
      }
      .cropping {
        float: right;
        width: 400px;
        #cropbox {
          top: -80px;
          left: -600px;
          img {
            max-height: 350px;
            max-width: 400px;
          }
        }
        .jcrop-holder {
          display: inline-block;
        }
      }
    }
  }

  #notifications {
    display: none;
  }

}