.edit-user {
  li {
    list-style-type: none;
  }
  #preview-container {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 1px solid #ccc;
  }
  #cropbox {
    float: right;
    top: -80px;
    left: -600px;
  }
}