%h1 Welcome to prophet!

%p
  Hello and welcome to the Prophet feedback platform. An account has been created for you at
  %b= @resource.organization.name
  with the user tag
  %b= @resource.user_tag

%p Follow the link to set your password and get started with Prophet:

%p= edit_password_url(@resource, reset_password_token: @token)

%p= "Enjoy!"